# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
ENV/
env/
.venv/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Logs
*.log

# Ignore secrets (if any)
.env

# Ignore local scripts and environments
run_bot.bat
migrate_db.py